@use 'variables' as *;
@use 'sass:color';

.breadcrumbs {
  font-size: 0.8em;
  padding-block: 10px;

  &__list {
    list-style: none;
    display: inline-block;
  }

  &__item {
    max-width: 100%;
    display: inline-block;
    font-style: italic;
  }

  &__link {
    color: color.adjust($color-primary, $lightness: -10%);
    font-weight: 500;

    &:hover {
      color: $color-text-dark;
    }

    &:not(&--clickable) {
      color: $color-primary;
      font-weight: 700;
      cursor: default;
    }
  }

  &__separator {
    padding-inline: 8px;
    color: $color-secondary;
  }
}
