<div class="film-card">
  <button class="film-card__favorite" (click)="toggleFavorite($event)">
    <svg
      lucideHeart
      class="film-card__favorite-icon"
      [class.film-card__favorite-icon--is-favorite]="film()?.isFavorite"
    ></svg>
  </button>
  <a [routerLink]="['/films', film()?.id]" class="film-card__link">
    <div class="film-card__rating">{{ film()?.rating }}</div>

    <img src="{{ film()?.posterUrl }}" alt="{{ film()?.title }}" class="film-card__poster" />

    <div class="film-card__content">
      <p class="film-card__title">{{ film()?.title }}</p>
      <p class="film-card__info">{{ film()?.year }}, {{ film()?.genre }}</p>
    </div>
  </a>
</div>
