// Colors
$color-primary: blue;
$color-secondary: red;
$color-tertiary: #f4f4f4;
$color-text: white;
$color-text-dark: #515151;

// Fonts
$font-primary: Tahoma, Arial, Verdana, sans-serif;

$duration: 0.3s;
