@use 'sass:color';
// Colors
$color-primary: #0c1323;
$color-secondary: #9db2ff;
$color-tertiary: #111a2b;
$color-text: #ecf2ff;
$color-text-dark: #bccbe3;
$color-accent: color.adjust($color-secondary, $lightness: -10%);

// Fonts
$font-primary: Tahoma, Arial, Verdana, sans-serif;

$duration: 0.3s;

$border-radius-sm: 4px;
$border-radius-md: 12px;
$border-radius-lg: 32px;
