@use 'variables' as *;
@use 'sass:color';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  color: $color-text;
  background: $color-tertiary;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background: $color-accent;
  color: $color-text;
  font-size: 0.8rem;
  border-radius: 4px;
  border: none;
  transition: background $duration;
  cursor: pointer;

  &:hover {
    background: color.adjust($color-accent, $lightness: -10%);
  }
}
