* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Graphik Kinopoisk LC Web,
    Tahoma,
    Arial,
    Verdana,
    sans-serif;
  font-size: 16px;
  background: #f4f4f4;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}
